<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add category</title>
</head>
<body>
    <h1>Add category</h1>
    <form th:action="@{/addcategory}" th:object="${category}" method="post">
        <input type="hidden" th:field="*{categoryId}" />
        <label for="name">Category name:</label>
        <input type="text" id="name" th:field="*{name}" required>
        <button type="submit">Save</button>
    </form>
</body>
</html>